openapi: 3.1.0
info:
  title: Hyperlocalise TMS Public API
  version: 0.1.0
  summary: Public integration surface for Hyperlocalise TMS.
servers:
  - url: https://api.hyperlocalise.dev
    description: Production
  - url: http://localhost:8080
    description: Local development
tags:
  - name: Projects
  - name: Resources
  - name: Jobs
  - name: TranslationMemory
  - name: Glossaries
  - name: Workflows
paths:
  /v1/projects:
    get:
      tags: [Projects]
      operationId: listProjects
      summary: List projects
      responses:
        "200":
          description: A paginated list of projects.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectListResponse"
  /v1/resources:
    get:
      tags: [Resources]
      operationId: listResources
      summary: List resources
      responses:
        "200":
          description: A list of resources.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceListResponse"
  /v1/jobs:
    get:
      tags: [Jobs]
      operationId: listJobs
      summary: List jobs
      responses:
        "200":
          description: A list of jobs.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobListResponse"
    post:
      tags: [Jobs]
      operationId: createJob
      summary: Submit a job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateJobRequest"
      responses:
        "202":
          description: Job accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
  /v1/translation-memory:
    get:
      tags: [TranslationMemory]
      operationId: listTranslationMemory
      summary: List translation memory entries
      responses:
        "200":
          description: A list of translation memory entries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranslationMemoryListResponse"
  /v1/glossaries:
    get:
      tags: [Glossaries]
      operationId: listGlossaries
      summary: List glossaries
      responses:
        "200":
          description: A list of glossaries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GlossaryListResponse"
  /v1/workflows:
    get:
      tags: [Workflows]
      operationId: listWorkflows
      summary: List workflows
      responses:
        "200":
          description: A list of workflows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowListResponse"
components:
  schemas:
    Project:
      type: object
      required: [id, key, name, sourceLocale]
      properties:
        id:
          type: string
        key:
          type: string
        name:
          type: string
        sourceLocale:
          type: string
        targetLocales:
          type: array
          items:
            type: string
    Resource:
      type: object
      required: [id, projectId, path, format]
      properties:
        id:
          type: string
        projectId:
          type: string
        path:
          type: string
        format:
          type: string
    Job:
      type: object
      required: [id, kind, status]
      properties:
        id:
          type: string
        kind:
          type: string
        status:
          type: string
        projectId:
          type: string
        createdAt:
          type: string
          format: date-time
    TranslationMemoryEntry:
      type: object
      required: [id, sourceLocale, targetLocale, sourceText, targetText]
      properties:
        id:
          type: string
        sourceLocale:
          type: string
        targetLocale:
          type: string
        sourceText:
          type: string
        targetText:
          type: string
    Glossary:
      type: object
      required: [id, name, sourceLocale]
      properties:
        id:
          type: string
        name:
          type: string
        sourceLocale:
          type: string
    Workflow:
      type: object
      required: [id, name, state]
      properties:
        id:
          type: string
        name:
          type: string
        state:
          type: string
    CreateJobRequest:
      type: object
      required: [projectId, kind]
      properties:
        projectId:
          type: string
        kind:
          type: string
        resourceIds:
          type: array
          items:
            type: string
    ProjectListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Project"
    ResourceListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Resource"
    JobListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Job"
    TranslationMemoryListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/TranslationMemoryEntry"
    GlossaryListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Glossary"
    WorkflowListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Workflow"
