openapi: 3.1.0
info:
  title: Hyperlocalise TMS Public API
  version: 0.1.0
  summary: Public integration surface for Hyperlocalise TMS.
servers:
  - url: https://api.hyperlocalise.dev
    description: Production
  - url: http://localhost:8080
    description: Local development
tags:
  - name: Projects
  - name: Resources
  - name: TranslationJobs
  - name: TranslationMemory
  - name: Glossaries
  - name: Workflows
paths:
  /v1/projects:
    get:
      tags: [Projects]
      operationId: listProjects
      summary: List projects
      responses:
        "200":
          description: A paginated list of projects.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectListResponse"
  /v1/resources:
    get:
      tags: [Resources]
      operationId: listResources
      summary: List resources
      responses:
        "200":
          description: A list of resources.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceListResponse"
  /v1/translation-jobs:
    get:
      tags: [TranslationJobs]
      operationId: listTranslationJobs
      summary: List translation jobs
      responses:
        "200":
          description: A list of translation jobs.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranslationJobListResponse"
    post:
      tags: [TranslationJobs]
      operationId: createTranslationJob
      summary: Submit a translation job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTranslationJobRequest"
      responses:
        "202":
          description: Translation job accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranslationJob"
  /v1/translation-jobs/{id}:
    get:
      tags: [TranslationJobs]
      operationId: getTranslationJob
      summary: Get a translation job
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Translation job detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranslationJob"
  /v1/translation-jobs/{id}:cancel:
    post:
      tags: [TranslationJobs]
      operationId: cancelTranslationJob
      summary: Cancel a translation job
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "202":
          description: Translation job cancellation accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranslationJob"
  /v1/translation-memory:
    get:
      tags: [TranslationMemory]
      operationId: listTranslationMemory
      summary: List translation memory entries
      responses:
        "200":
          description: A list of translation memory entries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranslationMemoryListResponse"
  /v1/glossaries:
    get:
      tags: [Glossaries]
      operationId: listGlossaries
      summary: List glossaries
      responses:
        "200":
          description: A list of glossaries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GlossaryListResponse"
  /v1/workflows:
    get:
      tags: [Workflows]
      operationId: listWorkflows
      summary: List workflows
      responses:
        "200":
          description: A list of workflows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowListResponse"
components:
  schemas:
    Project:
      type: object
      required: [id, key, name, sourceLocale]
      properties:
        id:
          type: string
        key:
          type: string
        name:
          type: string
        sourceLocale:
          type: string
        targetLocales:
          type: array
          items:
            type: string
    Resource:
      type: object
      required: [id, projectId, path, format]
      properties:
        id:
          type: string
        projectId:
          type: string
        path:
          type: string
        format:
          type: string
    TranslationJob:
      type: object
      required: [id, projectId, status, mode, sourceLocale, targetLocale, itemCount, progress, configSnapshotId, createdAt, updatedAt]
      properties:
        id:
          type: string
        projectId:
          type: string
        status:
          type: string
        mode:
          type: string
        sourceLocale:
          type: string
        targetLocale:
          type: string
        itemCount:
          type: integer
        progress:
          $ref: "#/components/schemas/TranslationJobProgress"
        sourceArtifactUri:
          type: string
        outputArtifactUri:
          type: string
        inlineOutput:
          type: array
          items:
            $ref: "#/components/schemas/TranslationInlineOutput"
        configSnapshotId:
          type: string
        errorCode:
          type: string
        errorMessage:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    TranslationJobProgress:
      type: object
      required: [total, succeeded, failed, canceled]
      properties:
        total:
          type: integer
        succeeded:
          type: integer
        failed:
          type: integer
        canceled:
          type: integer
    TranslationInlineOutput:
      type: object
      required: [key, text]
      properties:
        key:
          type: string
        text:
          type: string
    TranslationMemoryEntry:
      type: object
      required: [id, sourceLocale, targetLocale, sourceText, targetText]
      properties:
        id:
          type: string
        sourceLocale:
          type: string
        targetLocale:
          type: string
        sourceText:
          type: string
        targetText:
          type: string
    Glossary:
      type: object
      required: [id, name, sourceLocale]
      properties:
        id:
          type: string
        name:
          type: string
        sourceLocale:
          type: string
    Workflow:
      type: object
      required: [id, name, state]
      properties:
        id:
          type: string
        name:
          type: string
        state:
          type: string
    CreateTranslationJobRequest:
      type: object
      required: [projectId, sourceLocale, targetLocale]
      properties:
        projectId:
          type: string
        sourceLocale:
          type: string
        targetLocale:
          type: string
        providerProfile:
          type: string
        glossaryId:
          type: string
        styleGuideId:
          type: string
        idempotencyKey:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string
        inlinePayload:
          $ref: "#/components/schemas/TranslationInlinePayload"
        artifactPayload:
          $ref: "#/components/schemas/TranslationArtifactPayload"
    TranslationInlinePayload:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/TranslationInlineItem"
    TranslationInlineItem:
      type: object
      required: [key, text]
      properties:
        key:
          type: string
        text:
          type: string
        context:
          type: string
        maxLength:
          type: integer
        metadata:
          type: object
          additionalProperties:
            type: string
    TranslationArtifactPayload:
      type: object
      required: [inputUri, contentType]
      properties:
        inputUri:
          type: string
        contentType:
          type: string
        parserHint:
          type: string
        path:
          type: string
    ProjectListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Project"
    ResourceListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Resource"
    TranslationJobListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/TranslationJob"
    TranslationMemoryListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/TranslationMemoryEntry"
    GlossaryListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Glossary"
    WorkflowListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Workflow"
